
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>童程教育</title>
</head>
<link th:href="@{/css/login.css}" rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/js/bootstrap/3.1.1/css/bootstrap.min.css}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script th:src="@{/js/jquery/jquery-1.8.3.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script th:src="@{/js/bootstrap/3.1.1/js/bootstrap.min.js}"></script>


<body>
	<br />
	<br />
	<br />
	<br />
	<br />
	<form id="signin-form" class="form-signin" method="POST"
		th:action="@{/signin}">
		<h2 class="form-signin-heading" align="center" >童程首页系统&nbsp;</h2>
		<div class="has-feedback">
			<input class="form-control" type="text" id="username" name="username"
				minlength="2" maxlength="30" required autofocus placeholder="登陆账户"
				tabindex="1" />
		</div>
		<div class="has-feedback">
			<input class="form-control" type="password" id="password"
				name="password" minlength="2" maxlength="30" required
				placeholder="登录密码" tabindex="2" />
		</div>
		<!-- 	
	<div class="captcha-row has-feedback row">
		<div class="col-sm-7">
        	<input class="form-control element" type="text" name="captcha" maxlength="5" required placeholder="验证码"/>
        </div>
        <div class="col-sm-5">
        	<img id="captcha-img" class="img-responsive" src="$link.contextPath/web/auth/captcha" style="cursor:pointer;"/>
        </div>
	</div> 
 	-->
		<div class="row">
			<div class="col-sm-12">
				<div class="checkbox">
					<label style="margin-top: 8px;"> <input type="checkbox"
						id="autologin" name="remember-me" value="true" tabindex="3"
						style="margin-top: 7px;" /> <span class="atlg f-fs1"
						style="cursor: pointer;">自动登录</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-lg btn-primary btn-block submit"
					type="submit" tabindex="4">登 录</button>
			</div>
		</div>
		<div class="row">
			<!-- 
        <div class="col-xs-4" >
        	<a href="#" class="forgetPassword">忘记密码?</a>
        </div> 
        -->
		</div>
		<div class="general-error alert alert-warning hide"></div>
	</form>


</body>
</html>